/* common  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

:root {
    --dis-main: #255ee9;
    --dis-cta: #23272a;
    --dis-light: #f6f6f6;
    --dis-hr: rgb(246, 246, 246, 0.2);
    --dis-lighter: white;
    --dis-cta2: #8ea1e1;
    --dis-ft-title: #7188d8;
}

.btn-white {
    background-color: var(--dis-lighter);
    padding: 0.7rem 1rem;
    border-style: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;

    &:hover {
        background-color: var(--dis-cta2)
    }
}

.btn-black {
    background-color: var(--dis-cta);
    padding: 0.7rem 1rem;
    border-style: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--dis-lighter);

    &:hover {
        background-color: var(--dis-cta2)
    }
}

.btn-blue {
    background-color: var(--dis-cta2);
    padding: 0.8rem 1.6rem;
    border-style: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dis-lighter);

    &:hover {
        background-color: var(--dis-cta);
    }
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.wave {
    background-image: url(../img/wave.svg);
    filter: invert(100%) sepia(55%) saturate(0%) hue-rotate(195deg) brightness(108%) contrast(93%);
    width: 100%;
}

.wave-rotate{
    transform: rotate(180deg);
}

/* utility  */
.debug {


    header {
        background-color: skyblue;
        border: 1px dashed black;
    }

    #menu {
        background-color: gold;
        border: 1px dashed black;
    }

    #menu div:nth-child(2) {
        border: 1px dashed black;
    }

    #jumbotron {
        background-color: blue;
        border-bottom: 4px solid skyblue;
    }

    #jumbotron-content {
        background-color: palevioletred;
        border: 1px dashed black;
    }

    #invite-only,
    #fandom {
        background-color: white;
        border: 1px dashed black;
    }

    .section-content div:nth-child(1) {
        background-color: cornflowerblue;
        border: 1px dashed black;
    }

    .section-content div:nth-child(2) {
        background-color: pink;
        border: 1px dashed black;
    }

    #community {
        background-color: lightgrey;
        border: 1px dashed black;
    }

    #tech {
        background-color: lightgrey;
        border: 1px dashed black;
    }

    #tech-content {
        background-color: green;
        border: 1px dashed black;
    }

    footer {
        background-color: black;
        border: 1px dashed black;
    }

    .up-foot-container div:nth-child(1) {
        background-color: pink;
        border: 1px dashed black;
    }

    .up-footer-section {
        background-color: turquoise;
        border: 1px dashed black;
    }

    #flex-foot-content button {
        background-color: pink;
        border: 1px dashed black;
    }

    #flex-foot-content {
        background-color: aquamarine;
        border: 1px dashed black;
    }

    #flex-foot-content div {
        background-color: pink;
        border: 1px dashed black;
    }
}

/* header  */
.hd-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-size {
    width: 70%;
    margin: auto;
}

header {
    min-height: 3rem;
    background-color: var(--dis-main);
    padding: 1rem 0;
}

#menu.hd-flex-container div:nth-child(2) {
    width: 70%;
    text-align: center;
    padding: 5px;

    li {
        margin: 0 1.5rem;
    }
}

#menu.hd-flex-container div:nth-child(1) {
    width: 15%;
    padding: 5px;
}

#menu.hd-flex-container div:nth-child(3) {
    width: 15%;
    text-align: right;
    padding: 5px;
}

ul {
    list-style: none;

    li {
        margin-right: 1rem;
    }

    a {
        text-decoration: none;
        color: var(--dis-lighter);

        &:hover {
            text-decoration: underline;
            color: var(--dis-cta2);
        }
    }
}

/* jumbotron  */
.jt-flex-container {
    display: flex;
    justify-content: center;
}

.jt-section-size {
    width: 50%;
    margin: auto;
    min-height: 30rem;
}

#jumbotron {
    min-height: 40rem;
    background-color: var(--dis-main);
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: var(--dis-lighter);
    text-align: center;
}

#jumbotron-content {
    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .btn-white {
        font-size: 1.3rem;
        padding: 0.7rem 2rem;
        margin-right: 1.5rem;
        font-weight: 600;

        span {
            font-size: 1.5rem;
            text-align: bottom;
        }
    }

    .btn-black {
        font-size: 1.3rem;
        padding: 1rem 2rem;
        margin-right: 1.5rem;
        font-weight: 600;
    }
}


/* common invite, community, fandom, sections  */
.section-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-flex-container {
    display: flex;
}

.section-size {
    width: 70%;
    margin: auto;
    min-height: 30rem;
}

.section-content {
    padding-top: 8rem;
    margin-bottom: 8rem;
}

#invite-only,
#fandom {
    min-height: 40rem;
}

.section-content div:nth-child(1) {
    min-width: 70%;
    text-align: left;
}

.section-content div:nth-child(2) {
    min-width: 20%;
    max-width: 100%;
    padding-top: 1.5rem;

    p {
        font-size: 1.2rem;
        word-spacing: 1px;
    }
}

/* community  */
.community-flex-container {
    display: flex;
    flex-direction: row-reverse;
}

#community {
    min-height: 40rem;
    background-color: var(--dis-light);
    div div:nth-child(1) {
        text-align: right;
        min-width: 70%;
    }
}

/* fandom  */
#fandom {
    margin-bottom: 8rem;
}


/* technology  */
#tech {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: var(--dis-light);
}

#tech-content {
    min-height: 45rem;

    img {
        width: 100%;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 600;
        width: 80%;
        margin: auto;
    }
}

#last-cta {
    padding: 2.5rem;
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top;
}

/* footer  */
footer {
    background-color: var(--dis-cta);

    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: var(--dis-ft-title);
    }

    dl {
        display: inline-block;
    }

    dt {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        color: var(--dis-ft-title);
        margin-bottom: 1rem;
    }

    dd {
        color: var(--dis-lighter);
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 700;

        a {
            text-decoration: none;
            color: var(--dis-lighter);

            &:hover {
                color: var(--dis-cta2);
                text-decoration: underline;
            }
        }
    }
}

.flex-footer {
    display: flex;
    justify-content: center;
}

.up-foot-container {
    display: flex;
    align-items: top;
    margin-top: 5rem;
    margin-bottom: 2rem;

    select {
        background-color: var(--dis-cta);
        color: var(--dis-lighter);
        padding: 0.4rem;
        font-size: 0.9rem;
        border-color: var(--dis-cta);
        vertical-align: bottom;
    }

    img {
        width: 8%;
    }

}

.social-icons i {
    color: var(--dis-lighter);
    padding-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 1rem;
}

.up-foot-container div:nth-child(1) {
    min-width: 35%;
}

.up-footer-section {
    min-width: 16.25%;
}

#flex-foot-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 6rem;
    min-height: 3.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--dis-hr);

    .btn-blue {
        padding: 0.7rem;
        font-size: 1rem;
    }
}

#flex-foot-content div {
    padding: 0.2rem;
    font-size: 0.8rem;
}

#flex-foot-content button {
    padding: 0.2rem;
    font-size: 0.8rem;
}